.main {
    /* text-align: left; */
    background-color: rgb(87, 131, 212);
    padding-left: 4em;
    color:lavender;
}
.question {
    border: 25px solid rgb(93, 128, 139);
    margin-top: 25px;
      padding: 25px;
}
.bottom {
    background-color: rgb(87, 131, 212);
    /* padding-left: 4em; */
    text-align: right;
    color:lavender; 
}
#after_submit {
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;
}